* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    background-color: black;
}

.hero {
    width: 100vw;
    min-height: 100vh;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
}

.title {
    color: gray;
    font-size: 3rem;
}

.course-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 300px;
    height: 200px;
    border: 2px solid gray;
    background-color: #111;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}
